body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.newBaner{
  height: 50vh;
  background-image: url(https://res.cloudinary.com/https-victoriavasilyeva-photography/image/upload/v1588451492/aerial-architectural-design-architecture-buildings-373912.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  justify-content: center;
  align-items: center;
  align-content: center
}
